<template name="admin">
    <br>
    <br>
    <br>
    <h3>Add User:</h3>
    <form class="form-inline">
       <div class="form-group">
            <label for="name">Email</label>
            <input type="text" class="form-control" id="email" placeholder="user@gmail.com" autofocus >
        </div>
        <div class="form-group">
            <label for="name">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="name">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>


    <h3>Users</h3>
    <ul>
    {{#each allUsers}}
        <li>{{emails.[0].address}} - {{profile.name}}</li>

    {{/each}}
    </ul>

</template>