<template name ="orderList">
    <p>
        Total All Orders: ${{sum}}
    </p>

    <ul>
        {{#each activeOrders}}
            <li data-id="{{_id}}">
                <a href="{{pathFor 'orderDetails'}}">
                  {{name}} - ${{grandTotal}} Created by {{createdBy}} on {{createdDateTime}} <i class="fa fa-times" id="remove"></i>
                </a>
            </li>
        {{/each}}
    </ul>

    <p>Deleted Orders</p>
    <ul>
        {{#each deletedOrders}}
            <li data-id="{{_id}}">
                <a href="{{pathFor 'orderDetails'}}">
                  <i>{{name}} - ${{grandTotal}} Created by {{createdBy}} on {{createdDateTime}}</i> - deleted by {{deletedBy}} on {{deletedDateTime}}
                </a>
            </li>
        {{/each}}
    </ul>

</template>
